body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	border: 5px solid green;
}

a {
	color: blue;
}

img {
	width: 10%;
	height: 10%;
}

.content {
	font-size: 100%;
}

.caption {
	font-size: 12px;
}

#section2 {
	
}

form {
	padding: 10px;
}

/* Styles for responsive_media_query.html */

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	padding: 20px;
	float: left;	
}

#left {
	background-color: #2196F3;
	width: 20%; /* The width is 20%, by default */
}

#main {
	background-color: #f1f1f1;
	width: 60%; /* The width is 60%, by default */
}

#right {
	background-color: #04AA6D;
	width: 20%; /* The width is 20%, by default */
}

main {
	margin: 10px 0 10px 0;
	overflow:auto;
}

footer {
	margin: 10px 0 10px 0;
	font-size: 12px;
	font-style: italic;
}

/* Use a media query to add a break point at 620px: */
@media only screen and (max-width: 620px) {
	.left, .main, .right {
		width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
}